p{
    background-color: rgb(107, 223, 223);
    display: inline;
}
a{
    background-color: rgb(138, 245, 170);
}
div{
    background-color: rgb(228, 183, 214);
}
span{
    background-color: rgb(221, 147, 147);
}