ul{
  display: flex;
  gap: 34px;
  background-color: aqua;
  justify-content: center;
  padding: 20px;
}
li{
  list-style: none;
}
*{
  padding: 0;
  margin: 0;
}
.red{
  background-color: red;
  color: white;
}